
/* Global styles */
body {
  margin: 0;
  padding : 0;
  box-sizing: border-box;
  font-family: 'Roboto',  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  background : #cacef5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img{
  border-radius : 50px;
  height: 80px;
  width : 80px;
  padding : 3px;
}


h2{
font-weight: bold;
font-size: 2rem;
color : rgb(77, 74, 74);
text-align: left;
}

h3{
  text-transform: uppercase;
  text-align: left;
  font-size: 12px;
}

p{
font-size : 16px;
text-align: left;
color : rgb(77, 74, 74)
}

span{
font-weight: bold;
}

/* responsive styles */
@media(max-width : 800px){
  h5, h4{
    font-size: 13px;
  }
  h1{
    font-size : 1.2rem;
  }
  img{
    height : 30px;
    width: 30px
  }
  p{
    font-size: 13px;
  }
  h2{
    font-size: 1rem;
  }
 
}
